@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@import "../../../scss/nodes";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

@import "variables/variables";

@import "layout/core-layout";
@import "layout/blade-templates";
@import "layout/topbar";
@import "layout/sidebar";

@import "code/code";
@import "code/example";
@import "code/xray";
@import "code/syntax-highlighting";

@import "palette/palette";

@import "whitespace/whitespace";

@import "content/page";
@import "content/section";
@import "content/panel";
@import "content/examples";

@import "components/collapsers";
@import "components/badges";

body {

}