.docs--layout-toc {
	#toc {

	}
}
.docs--toc {

}
.docs--toc__item {
	position: relative;
	display: block;
	a {
		position: relative;
		display: block;
		padding: 10px 15px;
		&:hover,
		&:focus {
			text-decoration: none;
			background-color: #f4f7f8;
		}
	}

	&.active a {
		font-weight: bold;
	}
	ul {
		padding: 0;
		list-style: none;
	}
}
.docs--toc__github {
	a::before {
		content: '\f09b';
		font-family: 'FontAwesome';
		margin-right: 5px;
	}
}
.docs--toc__link {

}
.docs--toc__divider {
	height: 1px;
	background-color: $docs-gray-light;
}