$docs-gray-lightest: #f7f7f7;
$docs-gray-lighter: #e6e6e6;
$docs-gray-light: #cacaca;
$docs-gray: #8a8a8a;
$docs-gray-dark: #777;
$docs-gray-darker: #555;

$docs-off-black: #0a0a0a;
$docs-off-white: #fefefe;

$docs-black: #000;
$docs-white: #fff;

$docs-js-color: #f0db4f;
$docs-beta-color: #c0392b;