<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Page-header | Foundation Docs</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Roboto+Mono|Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" href="/favicon.ico">

<link href="../assets/css/docs.css" rel="stylesheet" />
<link href="../assets/css/nodes.css" rel="stylesheet" />
    </head>
    <body class="fullbleed">

        <div class="layout vertical fit docs--layout-container">

            <div class="flex-1 docs--layout-topbar">
                Nodes UI Framework
            </div>

            <div class="layout horizontal docs--layout-page">
                <div class="flex-1 scroll docs--layout-sidebar">
                    <ul class="docs--sidebar">

    <!-- Setup / Readme / Etc -->
    <li data-toggle="collapse"
        data-target="#setupCollapse"
        class="docs--sidebar__heading docs--collapser">
        Setup
    </li>
    <ul id="setupCollapse" class="docs--sidebar__collapse collapse">
        <!-- Getting Started -->
        <li class="docs--sidebar__item">
            <a href="../index.html" >Getting Started</a>
        </li>
    </ul>

    <!-- Base Styles -->
    <li data-toggle="collapse"
        data-target="#baseCollapse"
        class="docs--sidebar__heading docs--collapser">
        Base
    </li>
    <ul id="baseCollapse" class="docs--sidebar__collapse collapse">
        <!-- Layout -->
        <li data-toggle="collapse"
            data-target="#layoutCollapse"
            class="docs--sidebar__sub-heading docs--collapser">
            Layout
        </li>
        <ul id="layoutCollapse" class="docs--sidebar__collapse collapse">
            <!-- Layout Helpers -->
            <li class="docs--sidebar__item">
                <a href="../base/layout-helpers.html" >Layout Helpers</a>
            </li>
            <!-- Flex-layout -->
            <li class="docs--sidebar__item">
                <a href="../base/flex-layout.html" >Flex-layout</a>
            </li>
            <!-- Block-layout -->
            <li class="docs--sidebar__item">
                <a href="../base/block-layout.html" >Block-layout</a>
            </li>
            <!-- Whitespace -->
            <li class="docs--sidebar__item">
                <a href="../base/whitespace.html" >Whitespace</a>
            </li>
        </ul>

        <!-- Colors -->
        <li class="docs--sidebar__item">
            <a href="../base/colors.html" >Colors</a>
        </li>

        <!-- Typography -->
        <li class="docs--sidebar__item">
            <a href="../base/typography.html" >Typography</a>
        </li>
    </ul>

    <!-- Elements -->
    <li data-toggle="collapse"
        data-target="#elementsCollapse"
        class="docs--sidebar__heading docs--collapser">
        Elements
    </li>
    <ul id="elementsCollapse" class="docs--sidebar__collapse collapse">
        <!-- Tables -->
        <li data-toggle="collapse"
            data-target="#tablesCollapse"
            class="docs--sidebar__sub-heading docs--collapser">
            Tables
        </li>
        <ul id="tablesCollapse" class="docs--sidebar__collapse collapse">
            <!-- Table types -->
            <li class="docs--sidebar__item">
                <a href="../elements/tables/table-types.html" >Table Types</a>
            </li>
            <!-- Table colors -->
            <li class="docs--sidebar__item">
                <a href="../elements/tables/table-colors.html" >Table Colors</a>
            </li>
            <!-- Table components -->
            <li class="docs--sidebar__item">
                <a href="../elements/tables/table-components.html" >Table Components</a>
            </li>
            <!-- Table sizing -->
            <li class="docs--sidebar__item">
                <a href="../elements/tables/table-sizing.html" >Table Sizing</a>
            </li>
            <!-- Responsive tables -->
            <li class="docs--sidebar__item">
                <a href="../elements/tables/table-responsive.html" >Responsive Tables</a>
            </li>
            <!-- Building Tables -->
            <li class="docs--sidebar__item">
                <a href="../elements/tables/table-building.html" >Building Tables</a>
            </li>
        </ul>

        <!-- Forms -->
        <li data-toggle="collapse"
            data-target="#formsCollapse"
            class="docs--sidebar__sub-heading docs--collapser">
            Forms
        </li>
        <ul id="formsCollapse" class="docs--sidebar__collapse collapse">
            <!-- Form Basics -->
            <li class="docs--sidebar__item">
                <a href="forms/form-basics.html" >Form Basics</a>
            </li>
            <!-- Input Basics -->
            <li class="docs--sidebar__item">
                <a href="forms/input-basics.html" >Input Basics</a>
            </li>
            <!-- Action Wrappers -->
            <li class="docs--sidebar__item">
                <a href="forms/action-wrappers.html" >Action Wrappers</a>
            </li>
            <!-- Floating Labels -->
            <li class="docs--sidebar__item">
                <a href="forms/floating-labels.html" >Floating Labels</a>
            </li>
            <!-- File picker -->
            <li class="docs--sidebar__item">
                <a href="forms/file-picker.html" >File Picker <span class="docs--sidebar__badge docs--sidebar__badge--js"></span></a>
            </li>
            <!-- Date picker -->
            <li class="docs--sidebar__item">
                <a href="forms/date-picker.html" >Date Picker <span class="docs--sidebar__badge docs--sidebar__badge--js"></span></a>
            </li>
        </ul>

        <!-- Buttons -->
        <li class="docs--sidebar__item">
            <a href="../elements/buttons.html" >Buttons</a>
        </li>

        <!-- Indicators (or LEDs, dunno yet) -->
        <li class="docs--sidebar__item">
            <a href="../elements/indicators.html" >Indicators</a>
        </li>
    </ul>

    <!-- Components -->
    <li data-toggle="collapse"
        data-target="#componentsCollapse"
        class="docs--sidebar__heading docs--collapser">
        Components
    </li>
    <ul id="componentsCollapse" class="docs--sidebar__collapse collapse">
        <!-- Breadcrumbs -->
        <li class="docs--sidebar__item">
            <a href="breadcrumbs.html" >Breadcrumbs</a>
        </li>
        <!-- Page-Header (SKAL NED TIL "CORE COMPONENTS") -->
        <li class="docs--sidebar__item active">
            <a href="page-header.html" >Page-header</a>
        </li>
        <!-- App-tiles -->
        <li class="docs--sidebar__item">
            <a href="app-tiles.html" >App-tiles</a>
        </li>

        <!-- Dropdowns -->
        <li data-toggle="collapse"
            data-target="#dropdownsCollapse"
            class="docs--sidebar__heading docs--collapser">
            Dropdowns
        </li>
        <ul id="dropdownsCollapse" class="docs--sidebar__collapse collapse">
            <!-- Dropdown Basics -->
            <li class="docs--sidebar__item">
                <a href="dropdowns/basics-dropdown.html" >Dropdown Basics</a>
            </li>
            <!-- Content-dropdowns -->
            <li class="docs--sidebar__item">
                <a href="dropdowns/content-dropdown.html" >Content-dropdowns</a>
            </li>
            <!-- Features Dropdown (FJERN FRA NODES-UI...) -->
            <li class="docs--sidebar__item">
                <a href="dropdowns/features-dropdown.html" >Features dropdown</a>
            </li>
            <!-- User Dropdown (FJERN FRA NODES-UI...) -->
            <li class="docs--sidebar__item">
                <a href="dropdowns/user-dropdown.html" >User dropdown</a>
            </li>
            <!-- Applications Dropdown (FJERN FRA NODES-UI...) -->
            <li class="docs--sidebar__item">
                <a href="dropdowns/applications-dropdown.html" >Applications dropdown</a>
            </li>
        </ul>

        <!-- List Groups -->
        <li data-toggle="collapse"
            data-target="#listGroupCollapse"
            class="docs--sidebar__heading docs--collapser">
            List-groups
        </li>
        <ul id="listGroupCollapse" class="docs--sidebar__collapse collapse">
            <!-- List Group Basics -->
            <li class="docs--sidebar__item">
                <a href="list-group/list-group.html" >List Group</a>
            </li>
        </ul>

        <!-- Sidebars -->
        <li data-toggle="collapse"
            data-target="#sidebarsCollapse"
            class="docs--sidebar__heading docs--collapser">
            Sidebars
        </li>
        <ul id="sidebarsCollapse" class="docs--sidebar__collapse collapse">
            <!-- Sidebar Basics -->
            <li class="docs--sidebar__item">
                <a href="sidebar/basic-sidebar.html" >Sidebar Basics</a>
            </li>
            <!-- Sidebar Components -->
            <li class="docs--sidebar__item">
                <a href="sidebar/sidebar-components.html" >Sidebar Components</a>
            </li>
        </ul>

        <!-- Panels -->
        <li data-toggle="collapse"
            data-target="#panelsCollapse"
            class="docs--sidebar__heading docs--collapser">
            Panels
        </li>
        <ul id="panelsCollapse" class="docs--sidebar__collapse collapse">
            <li class="docs--sidebar__item">
                <a href="panels/panel-basics.html" >Panel Basics</a>
            </li>
        </ul>
    </ul>

    <!-- Laravel  -->
    <li data-toggle="collapse"
        data-target="#laravelCollapse"
        class="docs--sidebar__heading docs--collapser">
        Laravel
    </li>
    <ul id="laravelCollapse" class="docs--sidebar__collapse collapse">
        <!-- Layout Scaffold -->
        <li class="docs--sidebar__item">
            <a href="../laravel/layout/layout-scaffold.html" >Layout Scaffold</a>
        </li>
        <!-- Scaffold Components -->
        <li data-toggle="collapse"
            data-target="#scaffoldComponentsCollapse"
            class="docs--sidebar__heading docs--collapser">
            Scaffold Components
        </li>
        <ul id="scaffoldComponentsCollapse" class="docs--sidebar__collapse collapse">
            <li class="docs--sidebar__item">
                <a href="side-navigation.html" >Side-navigation</a>
            </li>
        </ul>
        <!-- Specialty Pages -->
        <li data-toggle="collapse"
            data-target="#specialyPagesCollapse"
            class="docs--sidebar__heading docs--collapser">
            Specialty Pages
        </li>
        <ul id="specialyPagesCollapse" class="docs--sidebar__collapse collapse">
            <li class="docs--sidebar__item">
                <a href="../blade-templates/pages/app-install.html" >App Install</a>
            </li>
        </ul>
    </ul>
</ul>
                </div>
                <div class="flex-2 scroll docs--layout-content">
                    <h1 class="docs--page-header">Page-header</h1>
<h1>DENNIS SKAL FÅ FLERE KOMBINATIONER TIL AT VIRKE</h1>

<p class="docs--page-description">
    A core component in the nStack views, the page-header is designed to contain breadcrumbs and page actions aswell
    as the title of the page ofcourse.
</p>

<p><p class="docs--section-description">
    The page-header is designed to hold up to four sub-components:
</p></p>
<ul class="docs--section-list">
    <li><code>.breadcrumbs</code></li>
    <li><code>.search-form</code></li>
    <li><code>&lt;h1&gt;</code></li>
    <li><code>...buttongroup</code></li>
</ul>

<section class="page-header">

    <div class="page-header__top-section">

        <ol class="breadcrumb hidden-xs">
            <li><a href="#">Home</a></li>
            <li class="active"><a href="#">Translate</a></li>
        </ol>

        <form class="form-inline search-form">
            <div class="form-group action-wrapper">
                <button class="btn btn-icon-transparent action-wrap-action action-wrap-left">
                    <i class="fa fa-search"></i>
                </button>
                <input type="text" placeholder="Search" class="form-control action-wrap-item action-wrap-left transparent" id="searchInput"/>
            </div>
        </form>

    </div>

    <div class="page-header__bottom-section">

        <h1>Web</h1>

        <button class="btn btn-info">API Spec</button>

    </div>

</section>

<p><br/></p>
<section class="page-header">

    <div class="page-header__top-section">

        <ol class="breadcrumb hidden-xs">
            <li><a href="#">Home</a></li>
            <li class="active"><a href="#">Translate</a></li>
        </ol>

    </div>

    <div class="page-header__bottom-section">

        <h1>Web</h1>

        <button class="btn btn-info">API Spec</button>

    </div>

</section>

<p><br/></p>
<section class="page-header">

    <div class="page-header__top-section">

        <ol class="breadcrumb hidden-xs">
            <li><a href="#">Home</a></li>
            <li class="active"><a href="#">Translate</a></li>
        </ol>

        <form class="form-inline search-form">
            <div class="form-group action-wrapper">
                <button class="btn btn-icon-transparent action-wrap-action action-wrap-left">
                    <i class="fa fa-search"></i>
                </button>
                <input type="text" placeholder="Search" class="form-control action-wrap-item action-wrap-left transparent" id="searchInput"/>
            </div>
        </form>

    </div>


</section>




                </div>
            </div>

        </div>

        <script src="assets/js/vendor.js"></script>

<script src="../assets/js/modules/file-picker.js"></script>
<script src="../assets/js/modules/date-time-picker.js"></script>
<script src="../assets/js/docs.js"></script>
<script src="../assets/js/nodes.js"></script>

    </body>

</html>
