.page-header {
	@include layout($direction: vertical);

	@include whitespace();
	@include background-color($gray-lighter);

	margin: 0;
	border: none;
}

.page-header__top-section,
.page-header__bottom-section {
	@include clearfix;
	@include flex();
	@include layout();

	:nth-child(2) {
		margin-left: auto;
	}
}
.page-header__top-section {
	:first-child,
	:last-child {
		align-self: flex-start;
	}
}
.page-header__bottom-section {
	@include whitespace($type: margin, $side: top, $size: sm);
	:first-child,
	:last-child {
		align-self: flex-end;
	}
}

.page-header__bottom-section h1 {
	margin: 0;
}