.docs--code-example {
	position: relative;

	.docs--copy-code-btn {
		position: absolute;
		right: 0;
		top: 0;

		border-top-left-radius: 0;
		border-bottom-right-radius: 0;

		z-index: 200;
	}

	.docs--example-container {
		padding-top: 50px;
	}
}