<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Form Basics | Foundation Docs</title>

        <link href='https://fonts.googleapis.com/css?family=Roboto+Mono|Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="/favicon.ico">

        <link href="../../assets/css/docs.css" rel="stylesheet" />
        <link href="../../assets/css/nodes.css" rel="stylesheet" />

        <script src="../../assets/js/modernizr.js"></script>
    </head>
    <body class="fullbleed">

        <div class="layout vertical fit docs--layout-container">

            <div class="flex-1 docs--layout-topbar">
                Nodes UI Framework
            </div>

            <div class="layout horizontal docs--layout-page">
                <div class="flex-1 scroll docs--layout-sidebar">
                    <div class="docs--search">
    <input type="text" class="docs--search__input" placeholder="search">
    <ul class="docs--search__results"></ul>
</div>
<ul class="docs--sidebar">

    <!-- Setup / Readme / Etc -->
    <li class="docs--sidebar__heading">Setup</li>
    <li class="docs--sidebar__item">
        <a href="../../index.html" data-search="">Getting Started</a>
    </li>

    <!-- Base Styles -->
    <li data-toggle="collapse"
        data-target="#baseCollapse"
        class="docs--sidebar__heading docs--collapser docs--collapser--open">
        Base
    </li>

    <ul id="baseCollapse" class="docs--sidebar__collapse collapse in">
        <!-- Layout -->
        <li data-toggle="collapse"
            data-target="#layoutCollapse"
            class="docs--sidebar__sub-heading docs--collapser">
            Layout
        </li>
        <ul id="layoutCollapse" class="docs--sidebar__collapse collapse">
            <li class="docs--sidebar__item">
                <a href="../../base/layout-helpers.html" data-search="">Layout Helpers</a>
            </li>
            <li class="docs--sidebar__item">
                <a href="../../base/flex-layout.html" data-search="">Flex-layout</a>
            </li>
            <li class="docs--sidebar__item">
                <a href="../../base/block-layout.html" data-search="">Block-layout</a>
            </li>
            <li class="docs--sidebar__item">
                <a href="../../base/whitespace.html" data-search="">Whitespace</a>
            </li>
        </ul>

        <!-- Colors -->
        <li class="docs--sidebar__item">
            <a href="../../base/colors.html" data-search="">Colors</a>
        </li>

        <!-- Typography -->
        <li class="docs--sidebar__item">
            <a href="../../base/typography.html" data-search="">Typography</a>
        </li>
    </ul>

    <!-- Elements -->
    <li data-toggle="collapse"
        data-target="#elementsCollapse"
        class="docs--sidebar__heading docs--collapser docs--collapser--open">
        Elements
    </li>

    <ul id="elementsCollapse" class="docs--sidebar__collapse collapse in">
        <!-- Tables -->
        <li data-toggle="collapse"
            data-target="#tablesCollapse"
            class="docs--sidebar__sub-heading docs--collapser">
            Tables
        </li>
        <ul id="tablesCollapse" class="docs--sidebar__collapse collapse">
            <li class="docs--sidebar__item">
                <a href="../../elements/tables/table-types.html" data-search="">Table Types</a>
            </li>
            <li class="docs--sidebar__item">
                <a href="../../elements/tables/table-colors.html" data-search="">Table Colors</a>
            </li>
            <li class="docs--sidebar__item">
                <a href="../../elements/tables/table-components.html" data-search="">Table Components</a>
            </li>
            <li class="docs--sidebar__item">
                <a href="../../elements/tables/table-sizing.html" data-search="">Table Sizing</a>
            </li>
            <li class="docs--sidebar__item">
                <a href="../../elements/tables/table-responsive.html" data-search="">Responsive Tables</a>
            </li>
            <li class="docs--sidebar__item">
                <a href="../../elements/tables/table-building.html" data-search="">Building Tables</a>
            </li>
        </ul>

        <!-- Forms -->
    </ul>





    <li class="docs--sidebar__heading">Elements</li>

    <!-- Tables -->
    <li class="docs--sidebar__sub-heading">Tables</li>


    <!-- Forms -->
    <li class="docs--sidebar__sub-heading">Forms</li>
    <li class="docs--sidebar__item active">
        <a href="form-basics.html" data-search="">Form Basics</a>
    </li>
    <li class="docs--sidebar__item">
        <a href="input-basics.html" data-search="">Input Basics</a>
    </li>
    <li class="docs--sidebar__item">
        <a href="action-wrappers.html" data-search="">Action Wrappers</a>
    </li>
    <li class="docs--sidebar__item">
        <a href="floating-labels.html" data-search="">Floating Labels</a>
    </li>

    <!-- Buttons -->
    <li class="docs--sidebar__sub-heading">Buttons</li>
    <li class="docs--sidebar__item">
        <a href="../../elements/buttons.html" data-search="">Buttons</a>
    </li>

    <li class="docs--sidebar__item">
        <a href="../../elements/indicators.html" data-search="">Indicators</a>
    </li>

    <li class="docs--sidebar__heading">Components</li>
    <li class="docs--sidebar__item">
        <a href="../breadcrumbs.html" data-search="">Breadcrumbs</a>
    </li>
    <li class="docs--sidebar__item">
        <a href="../page-header.html" data-search="">Page-header</a>
    </li>
    <li class="docs--sidebar__item">
    <a href="../app-tiles.html" data-search="">App-tiles</a>
    </li>

    <li class="docs--sidebar__has-subnav">
        <span>Dropdowns</span>
        <ul class="docs--sidebar__subnav">
            <li class="docs--sidebar__item">
                <a href="../dropdowns/basics-dropdown.html" data-search="">Dropdown Basics</a>
            </li>
            <li class="docs--sidebar__item">
                <a href="../dropdowns/content-dropdown.html" data-search="">Content-dropdowns</a>
            </li>
            <li class="docs--sidebar__item">
                <a href="../dropdowns/features-dropdown.html" data-search="">Features dropdown</a>
            </li>
            <li class="docs--sidebar__item">
                <a href="../dropdowns/user-dropdown.html" data-search="">User dropdown</a>
            </li>
            <li class="docs--sidebar__item">
                <a href="../dropdowns/applications-dropdown.html" data-search="">Applications dropdown</a>
            </li>
        </ul>
    </li>

    <li class="docs--sidebar__has-subnav">
        <span>Sidebar</span>
        <ul class="docs--sidebar__subnav">
            <li class="docs--sidebar__item">
                <a href="../sidebar/basic-sidebar.html" data-search="">Sidebar Basics</a>
            </li>
            <li class="docs--sidebar__item">
                <a href="../sidebar/sidebar-components.html" data-search="">Sidebar Components</a>
            </li>
        </ul>
    </li>

    <li class="docs--sidebar__has-subnav">
        <span>Panels</span>
        <ul class="docs--sidebar__subnav">
            <li class="docs--sidebar__item">
            <a href="../panels/panel-basics.html" data-search="">Panel Basics</a>
            </li>
        </ul>
    </li>

    <li class="docs--sidebar__item">
      <a href="../side-navigation.html" data-search="">Side-navigation</a>
    </li>

    <li class="docs--sidebar__heading">Blade Templates</li>
    <li class="docs--sidebar__has-subnav">
        <span>Layouts</span>
        <ul class="docs--sidebar__subnav">
            <li class="docs--sidebar__item">
                <a href="../../blade-templates/layouts/core-layout-wide.html" data-search="">Core Layout Wide</a>
            </li>
            <li class="docs--sidebar__item">
                <a href="../../blade-templates/layouts/core-layout-toggle-sidebar.html" data-search="">Core Layout Toggle Sidebar</a>
            </li>
            <li class="docs--sidebar__item">
                <a href="../../blade-templates/layouts/core-layout-dashboard.html" data-search="">Core Layout Dashboard</a>
            </li>
    </li>
    <li class="docs--sidebar__has-subnav">
        Pages
        <ul class="docs--sidebar__subnav">
            <li class="docs--sidebar__item">
                <a href="../../blade-templates/pages/app-install.html" data-search="">App Install</a>
            </li>
        </ul>
    </li>
</ul>
                </div>
                <div class="flex-2 scroll docs--layout-content">
                    <h1 class="docs--page-header">
    Input Basics
</h1>

<p class="docs--page-description">
    Before going into details with individual form components, lets just sumarize the different &quot;layouts&quot; available.
</p>

<p><h2 class="docs--section-header">
    Vertical
</h2></p>
<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Check me out
        </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<p><h2 class="docs--section-header">
    Horizontal
</h2></p>
<form class="form-horizontal">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Sign in</button>
        </div>
    </div>
</form>

<p><h2 class="docs--section-header">
    Inline
</h2></p>
<form class="form-inline">
    <div class="form-group">
        <label for="exampleInputName2">Name</label>
        <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail2">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
    </div>
    <button type="submit" class="btn btn-default">Send invitation</button>
</form>

                </div>
            </div>

        </div>

        <script src="../../assets/js/vendor.js"></script>

        <script src="../../../assets/js/docs.js"></script>
        <script src="../../../assets/js/nodes.js"></script>
    </body>

</html>
